# Input Filenames (known data entries)
NETWORK_TRAIN="SampleData/senate109/network.txt"	# required by N-GPPF and J-GPPF (ignored by C-GPPF)
CORPUS_TRAIN="SampleData/senate109/corpus.txt"		# required by C-GPPF and J-GPPF (ignored by N-GPPF)
AUTHORS_TRAIN="SampleData/senate109/authors.txt"	# required by J-GPPF only (ignored by C-GPPF and N-GPPF)

# Input Filenames (unknown data entries)
NETWORK_HELDOUT=""	# optional network heldout entries; set to empty string ("") to ignore
CORPUS_HELDOUT=""	# optional corpus heldout entries; set to empty string ("") to ignore

# Output Directory
OUT_DIR="SampleData/senate109/results"	# GPPF model and the visualization functions will save results here

# Parameters
NETWORK_TOPICS="20"	# maximum number of latent factors for B
CORPUS_TOPICS="20"	# maximum number of latent factors for Y
BURNIN_ITER="1000"	# number of burnin iterations
COLLECT_ITER="500"	# number of collection iterations (for expected values)
OUTPUT_ITER="100"	# save latent samples every OUTPUT_ITER iterations
COUNT_FLAG="1"		# 1: count-valued network, 0: binary network (ignored by C-GPPF)
EPSILON="1.0"		# interaction between B and Y (> 0.0) (ignored by C-GPPF and N-GPPF)

# Commands
RUN_MODEL="jgppf"	# jgppf: run the joint model, ngppf: run the network-only model, cgppf: run the corpus-only model
GENERATE_SAMPLES="0"	# 1: generate B and/or Y samples from the trained model, 0: don't generate samples

# Display (optional)
NETWORK_DICTIONARY="SampleData/senate109/network_dictionary.txt"	# author index mapping
CORPUS_DICTIONARY="SampleData/senate109/corpus_dictionary.txt"		# word index mapping
